<%- layout("layouts/biolerplate.ejs") %>

    <body>
        
        <div class="row mt-3">
            <form method="POST" action="/listings/<%= item._id %>/edit?_method=PUT" class="form col-8 offset-2">
                <legend>
                    <h3>Create New Lisitng</h3> 
                </legend>
                <div class="form-group mb-3 ">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" placeholder="Title" id="title" class="form-control"  value="<%= item.title %>">
                </div>
                <div class="form-group mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea name="description" id="desc" placeholder="Enter Description" class="form-control"><%= item.description %></textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="desc" class="form-label">Image URL</label>
                    <input type="text" name="image" placeholder="Image URL" id="img" class="form-control" value="<%= item.image.url %>">
                </div>

                <div class="row mb-3">
                    <div class="form-group col-md-4 form-entry-price">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="price" placeholder="Price" id="price" class="form-control" value="<%= item.price %>">
                    </div>
                    <div class="form-group col-md-8 form-entry-country">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="country" placeholder="Contact" id="country" class="form-control" value="<%= item.country %>">
                    </div>
                </div>

                <div class="form-group mb-4">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="location" placeholder="Location" id="location" class="form-control" value="<%= item.location %>">
                </div>
                
                
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-save-new">
                        Save
                        <span style="padding-left : 1rem"><i class="fa-solid fa-pen"></i></span>
                    </button>
                </div>
                
            </form>
        </div>
    </body>