<%- layout("layouts/biolerplate.ejs") %>
<body>
    <h3>Listing details : </h3>
    <img src="<%= item.image.url %>" alt="">
    <ul>
        <li><b>Title - </b><%= item.title %></li>
        <li><b>Description - </b><%= item.description %></li>
        <li><b>Price - </b>₹<%= item.price.toLocaleString("en-in") %></li>
        <li><b>Location - </b><%= item.location %></li>
    </ul>
    <form method="POST" action="/listings/<%= item._id %>?_method=DELETE">
        <button type="submit">Delete this entry</button>
    </form>
</body>