<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Listing details : </h3>
    <img src="<%= item.image %>" alt="">
    <ul>
        <li><b>Title - </b><%= item.title %></li>
        <li><b>Description - </b><%= item.description %></li>
        <li><b>Price - </b>₹<%= item.price.toLocaleString("en-in") %></li>
        <li><b>Location - </b><%= item.location %></li>
    </ul>
</body>
</html>